Source: libglisseo
Priority: optional
Maintainer: Felix Mellmann <felix.mellmann@gmail.com>
Build-Depends: debhelper-compat (= 13),
               cmake,
               libjsoncpp-dev (>= 1.7),
               libsystemd-dev (>= 249)
Standards-Version: 4.6.0
Section: libs
#Homepage: <insert the upstream URL, if relevant>
Vcs-Browser: https://github.com/gflix/LibGlisseo
#Vcs-Git: https://salsa.debian.org/debian/libglisseo.git
Rules-Requires-Root: no

Package: libglisseo-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libglisseo0 (= ${binary:Version}), ${misc:Depends}
Description: Library for common tasks - development files
 Library which provides simple solutions for common tasks.
 This package contains the files needed for development.

Package: libglisseo0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for common tasks
 Library which provides simple solutions for common tasks.
